<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
</head>
<body>
<h1>Sign Up</h1> <hr>

<form th:action="@{/user}" method="POST">

    email : <input type="text" name="email"> <br>
    password : <input type="password" name="password"> <br>
    아이디 : <input type="text" name="id"> <br>
    닉네임 : <input type="text" name="nickname"> <br>
    이름 : <input type="text" name="name"> <br>
    전화번호 : <input type="tel" name="tel"> <br>
    주소 : <input type="text" name="address"> <br>
    <input type="radio" name="auth" value="ROLE_ADMIN,ROLE_USER"> admin
    <input type="radio" name="auth" value="ROLE_USER" checked="checked"> user <br>
    <button type="submit">Join</button>
</form> <br>

<a href="/login">Go to login →</a>
</body>
</html>