<!DOCTYPE html>

<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>sign up</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function (){
            $("input[name='userid']").on("change",function (){
                var s_id = $('#userid').val();
                console.log("s_id : "+s_id);

                // ajax 호출
                $.ajax({
                    data : {s_id : s_id},
                    url : "IdChek",
                    data_type : "json",
                    success : function (data) {
                        console.log(data);
                        if(data == '0'){

                            console.log("사용가능한 아이디 입니다")

                            $("#IdCheck").text("사용가능한 아이디 입니다");
                        } else if (data == "1") {

                            console.log("이미 사용중인 아이디 입니다")

                            $("#IdCheck").text("이미 사용중인 아이디 입니다");
                        }
                    },
                    error : function (error) {
                        console.log(error);
                        alert("error :" + error);
                    }
                });
            });
        });
    </script>


</head>
<body>
<h1>Sign Up</h1> <hr>

<!--
<form>
    <input type="text" name="id" id="id" style="float:left;">
    <h3 id="text">[]</h3>
</form>
-->
<form th:action="@{/user}" method="POST" modelattribute="infoDto" >

    <div>
        아이디 : <input type="text" name="userid" id="userid" placeholder="아이디를 입력해 주세요" /> <br>
        <span th:text="${valid_userid}"></span>
        <span id="IdCheck"></span>




        <!--<button id="overlappedID" type="button">중복확인</button><br>
        <span id="olmessage"></span> -->
    </div>


    <div>
        password : <input type="password" name="password" placeholder="비밀번호를 입력해 주세요"> <br>
        <span th:text="${valid_password}"></span>
    </div>


    <div>
        email : <input type="text" name="email"  placeholder="이메일을 입력해 주세요"> <br>
        <span th:text="${valid_email}"></span>
    </div>


    <div>
        닉네임 : <input type="text" name="nickname" placeholder="닉네임을 입력해 주세요"> <br>
        <span th:text="${valid_nickname}"></span>
    </div>

    <div>
        이름 : <input type="text" name="name" placeholder="이름을 입력해 주세요"> <br>
        <span th:text="${valid_name}"></span>
    </div>

    <div>
        전화번호 : <input type="tel" name="tel"placeholder=" - 를 빼고 연락처를 입력해 주세요"> <br>
        <span th:text="${valid_tel}"> <br> </span>
    </div>

    <div>
    주소 : <input type="text" name="address" placeholder="주소를 입력해 주세요"> <br>
    <span th:text="${valid_address}"> <br> </span>
    </div>

    <input type="radio" name="auth" value="ROLE_ADMIN,ROLE_USER"> admin
    <input type="radio" name="auth" value="ROLE_USER" checked="checked"> user <br>
    <button type="submit">회원가입</button>
</form> <br>

<a href="/login">Go to login →</a>
</body>
</html>