<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>마이페이지</title>
    <link rel="icon" type="images/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="stylesheet" href="/css/import.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/weather.js"></script>
</head>
<body>
<header class="NoneColor-Header">
    <h1><a href="/"><img src="/images/main_Logo.png" alt="my little farm"></a></h1>
    <nav>
        <button type="button" class="bobile">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="gnb clear">
            <li sec:authorize="isAnonymous()" class="mlogin"><a  href="/login">| 로그인 |</a><a href="/signup">| 회원가입 |</a></li>
            <li sec:authorize="isAuthenticated()" class="mlogin"><a href="#" onclick="$('#logout').submit()" class="login">| 로그아웃 |</a></li>

            <li>운영정보
                <ul>
                    <li><a href="/Notification_info">질병정보</a></li>
                    <li><a href="/operation_info">작물 농사 방법</a></li>
                </ul>
            </li>
            <li>분양정보
                <ul>
                    <li><a href="/Sale_list">분양리스트</a></li>
                </ul>
            </li>
            <li>소통
                <ul>
                    <li><a href="/bbs/list/standard">자유 게시판</a></li>
                    <li><a href="/bbs/list/qna">질문</a></li>
                    <li><a href="/bbs/list/notice">공지사항</a></li>
                </ul>
            </li>
            <li>공유
                <ul>
                    <li><a href="/bbs/list/sell">내 작물 판매</a></li>
                    <li><a href="/bbs/list/free">내 작물 무료나눔</a></li>
                </ul>
            </li>
            <li><a href="/MyPage">마이캘린더</a></li>
        </ul>
    </nav>
    <span sec:authorize="isAnonymous()" class="login"><a href="/login">로그인</a><a href="/signup">회원가입</a></span>

    <form id="logout" action="/logout" method="POST">
            <span sec:authorize="isAuthenticated()">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <!-- <span sec:authentication="name" ><a>님 환영합니다!</a></span>  ~~님 환영합니다! 가 안나옵니다 -->
                <span class="logout"><a href="/logout" type="submit">로그아웃</a></span>
            </span>
    </form>
</header>

    <section class="fix">
        <div class="mainbackground">
            <video autoplay muted loop>
                <source src="/mp4/gp.mp4" type="video/mp4">
            </video>
            <div class="MainV">
                <div>
                    <h2>MY <br>
                        LITTLE<br>
                        FARM
                    </h2>
                    <a href="/Notification_information">작물 질병정보 보기</a>
                </div>
            </div>
        </div>
    </section>

    <section class="WeatherSection">
        <h2>WEATHER</h2>
        <div id="showWeatherForcast"></div>
        <img src="/images/ccccccc.png" alt="">
    </section>

    <section class="hob">
        <div>
            <h2>신선한 취미</h2>
            <p>배우자, 아이들과 함께 시간을 보낼 수 있는 건강한 시간을 가져 보세요!<br/>
                도시에만 살아서 자연을 모르는 아이들에게 자연학습과 테마여행의 장을 열어주세요!</p>
        </div>
    </section>

    <section class="ParcelOut">
        <div>
            <span></span><h2>친환경 도시텃밭 분양</h2><span></span>
        </div>
        <div>
            <img class="parimg1" src="/images/leaves_left.png" alt="">
            <img src="/images/main_D.png" alt="">
            <p>낭만을 분양 받으세요 <br> <mark>-Choi.D.Jun-</mark></p>
            <img class="parimg2" src="/images/leaves_right.png" alt="">
        </div>
        <a href="/Sale_list">분양 신청</a>
    </section>

    <section class="WiseSaying">
        <div>
            <h2>‘‘<br/>농부는 굶어죽을지라도 그 종자를 베고 죽는다.<br/>’’<br/>-다산 정약용-</h2>
        </div>
    </section>

    <script src="/js/animation_scroll.js"></script>
    <footer>
        <div>
            <h1><a href="/">My Little Farm</a></h1>
            <div>
                <ul>
                    <li>운영정보
                        <ul>
                            <li><a href="/Notification_info">질병정보</a></li>
                            <li><a href="/operation_info">작물 농사 방법</a></li>
                        </ul>
                    </li>
                    <li>분양정보
                        <ul>
                            <li><a href="/Sale_list">분양리스트</a></li>
                        </ul>
                    </li>
                    <li>소통
                        <ul>
                            <li><a href="/bbs/list/standard">자유 게시판</a></li>
                            <li><a href="/bbs/list/qna">질문</a></li>
                            <li><a href="/bbs/list/notice">공지사항</a></li>
                        </ul>
                    </li>
                    <li>공유
                        <ul>
                            <li><a href="/bbs/list/sell">내 작물 판매</a></li>
                            <li><a href="/bbs/list/free">내 작물 무료나눔</a></li>
                        </ul>
                    </li>
                    <li><a href="/MyPage">마이캘린더</a>
                        <ul>
                            <li sec:authorize="isAnonymous()" class="login" ><a href="/login">로그인</a></li>

                            <form id="login" action="/logout" method="POST">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <li sec:authorize="isAuthenticated()" class="login"><a href="/logout" type="submit">로그아웃</a></li>
                            </form>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <address>
                    <p>E-Mail :<a href="gksrlvy7138@gmail.com"> gksrlvy7138@gmail.com</a></p>
                    <p>" 주소 : 서울시 서초구 서초대로74길 33 비트빌 3층"</p>
                    <p>Tel :<a href="tel:+820234863456"> 02 - 3486 - 3456</a></p>
                </address>
            </div>
        </div>
    </footer>
</body>
</html>