<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>마이페이지</title>
    <link rel="icon" type="images/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="stylesheet" href="/css/import.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/calendar.js" defer></script>
    <script src="/js/header.js"></script>
</head>
<body>
<header class="ColorH">
    <h1><a href="/"><img src="/images/Color_Logo.png" alt=""></a></h1>
    <nav>
        <button type="button" class="bobile">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="gnb clear">
            <li>운영정보
                <ul>
                    <li><a href="/Notification_info">질병정보</a></li>
                    <li><a href="/operation_info">작물 농사 방법</a></li>
                </ul>
            </li>
            <li>분양정보
                <ul>
                    <li><a href="/Sale_list">분양리스트</a></li>
                </ul>
            </li>
            <li>소통
                <ul>
                    <li><a href="/bbs/list/standard">자유 게시판</a></li>
                    <li><a href="/bbs/list/qna">질문</a></li>
                    <li><a href="/bbs/list/notice">공지사항</a></li>
                </ul>
            </li>
            <li>공유
                <ul>
                    <li><a href="/bbs/list/sell">내 작물 판매</a></li>
                    <li><a href="/bbs/list/free">내 작물 무료나눔</a></li>
                </ul>
            </li>
            <li><a href="/MyPage">마이페이지</a>
                <ul>
                    <li sec:authorize="isAnonymous()" class="login" ><a href="/login">로그인</a></li>
                    <form id="login" action="/logout" method="POST">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <li sec:authorize="isAuthenticated()" class="login"><a href="/logout" type="submit">로그아웃</a></li>
                    </form>
                </ul>
            </li>
        </ul>
    </nav>
     <span sec:authorize="isAnonymous()" class="login" ><a href="/login">로그인</a></span>
    <form id="logout" action="/logout" method="POST">
            <span sec:authorize="isAuthenticated()">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <!-- <span sec:authentication="name" ><a>님 환영합니다!</a></span>  ~~님 환영합니다! 가 안나옵니다 -->
                <span class="login"><a href="/logout" type="submit">로그아웃</a></span>
            </span>
    </form>
</header>

    <section class="MyPageS">
        <h2>마이캘린더</h2>
        <div>
            <div class="calendar">
            <h3>마이캘린더</h3>
            <p>전원생활을 계획해 보세요.</p>

            <div class="content-wrap">
                <div class="content-left">
                    <div class="main-wrap">
                        <div id="main-day" class="main-day"></div>
                        <div id="main-date" class="main-date"></div>
                    </div>
                    <div class="todo-wrap">
                        <form>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input type="hidden" id="creator">
                            <div class="todo-title">Todo List</div>
                            <div class="input-wrap">
                                <input type="text" placeholder="please write here!!" id="input-box" class="input-box"
                                      >
                                <button type="button" id="input-data" onclick="save();" class="input-data">등록</button>
                            <div id="input-list" class="input-list"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="content-right">
                    <table id="calendar" align="center">
                        <thead>
                            <tr class="btn-wrap clearfix">
                            <td class="Lnext"> 
                                <label id="prev">
                                    &#60;
                                </label>
                            </td>
                            <td align="center" id="current-year-month" colspan="5"></td>
                            <td class="Rnext">
                                <label id="next">
                                    &#62;
                                </label>
                            </td>
                            </tr>
                            <tr>
                                <td class = "sun" align="center">Sun</td>
                                <td align="center">Mon</td>
                                <td align="center">Tue</td>
                                <td align="center">Wed</td>
                                <td align="center">Thu</td>
                                <td align="center">Fri</td>
                                <td class= "sat" align="center">Sat</td>
                            </tr>
                        </thead>
                        <tbody id="calendar-body" class="calendar-body"></tbody>
                    </table>
                </div>
            </div>
        </div>

            <div>
                <h3>My <br>Little <br> Page</h3>
            </div>

            <div>
                <h3>img</h3>
            </div>
        </div>
    </section>


<footer>
    <div>
        <h1><a href="/">My Little Farm</a></h1>
        <div>
            <ul>
                <li>운영정보
                    <ul>
                        <li><a href="/Notification_info">질병정보</a></li>
                        <li><a href="/operation_info">작물 농사 방법</a></li>
                    </ul>
                </li>
                <li>분양정보
                    <ul>
                        <li><a href="/Sale_list">분양리스트</a></li>
                    </ul>
                </li>
                <li>소통
                    <ul>
                        <li><a href="/bbs/list/standard">자유 게시판</a></li>
                        <li><a href="/bbs/list/qna">질문</a></li>
                        <li><a href="/bbs/list/notice">공지사항</a></li>
                    </ul>
                </li>
                <li>공유
                    <ul>
                        <li><a href="/bbs/list/sell">내 작물 판매</a></li>
                        <li><a href="/bbs/list/free">내 작물 무료나눔</a></li>
                    </ul>
                </li>
                <li><a href="/MyPage">마이캘린더</a></li>
            </ul>
        </div>
        <div>
            <address>
                <p>E-Mail :<a href="gksrlvy7138@gmail.com"> gksrlvy7138@gmail.com</a></p>
                <p>" 주소 : 서울시 서초구 서초대로74길 33 비트빌 3층"</p>
                <p>Tel :<a href="tel:+820234863456"> 02 - 3486 - 3456</a></p>
            </address>
        </div>
    </div>
</footer>
</body>
</html>