<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>마이페이지</title>
    <link rel="icon" type="images/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="stylesheet" href="/css/import.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/header.js"></script>
</head>
<body>
<header class="ColorH">
    <h1><a href="index.html"><img src="/images/Color_Logo.png" alt=""></a></h1>
    <nav>
        <button type="button" class="bobile">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="gnb clear">
            <li>운영정보
                <ul>
                    <li><a href="Notification_information.html">질병정보</a></li>
                    <li><a href="operation_information.html ">작물 농사 방법</a></li>
                </ul>
            </li>
            <li>분양정보
                <ul>
                    <li><a href="Sale_list3.html">분양리스트</a></li>
                </ul>
            </li>
            <li>소통
                <ul>
                    <li><a href="/boardList/standard">자유 게시판</a></li>
                    <li><a href="/boardList/qna">질문</a></li>
                    <li><a href="/boardList/Notice">공지사항</a></li>
                </ul>
            </li>
            <li>공유
                <ul>
                    <li><a href="/boardList/sell">내 작물 판매</a></li>
                    <li><a href="/boardList/free">내 작물 무료나눔</a></li>
                </ul>
            </li>
            <li><a href="MyPage.html">마이페이지</a></li>
        </ul>
    </nav>
    <span class="login"><a href="login.html">로그인</a></span>
</header>
<script> alert(location); </script>
    <div class="gong">gong</div>

    <section class="tableSection">
        <h2>작물 판매</h2>
        <div id="Qtab1" class="inventory1 tabPg active">
            <table>
                <tbody>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회</th>
                    </tr>
                    <tr th:each="post : ${postList}">
                        <td>
                            <a th:href="@{'/bbs/post/' + ${post.id}}" th:text="${post.title}">
                            </a>
                        </td>
                        <td th:text="${post.username}">

                        </td>
                        <td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}">

                        </td >
                        <td th:text="${post.readcnt}">

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button><a href="/bbs/post">글쓰기</a></button>
        </div>
    </section>
    
    <div class="paging">
        <ol>
            <li class="tabBtn active" data-tab="Qtab1">1</li>
        </ol>
    </div>

    <footer>
        <div>
            <h1><a href="../../../../../../../../Last_Dance-main/Last_Dance-main/index.html">My Little Farm</a></h1>
            <div>
                <ul>
                    <li>운영정보
                        <ul>
                            <li><a href="../../../../../../../../Last_Dance-main/Last_Dance-main/Notification_information.html">질병정보</a></li>
                            <li><a href="../../../../../../../../Last_Dance-main/Last_Dance-main/operation_information.html ">작물 농사 방법</a></li>
                        </ul>
                    </li>
                    <li>분양정보
                        <ul>
                            <li><a href="../../../../../../../../Last_Dance-main/Last_Dance-main/Sale_list.html">분양리스트</a></li>
                        </ul>
                    </li>
                    <li>소통
                        <ul>
                            <li><a href="../../../../../../../../Last_Dance-main/Last_Dance-main/bulletin_board.html">자유 게시판</a></li>
                            <li><a href="../../../../../../../../Last_Dance-main/Last_Dance-main/Questions_%20board.html">질문</a></li>
                            <li><a href="../../../../../../../../Last_Dance-main/Last_Dance-main/Notice.html">공지사항</a></li>
                        </ul>
                    </li>
                    <li>공유
                        <ul>
                            <li><a href="Selling">내 작물 판매</a></li>
                            <li><a href="../../../../../../../../Last_Dance-main/Last_Dance-main/Free_selling.html">내 작물 무료나눔</a></li>
                        </ul>
                    </li>
                    <li><a href="../../../../../../../../Last_Dance-main/Last_Dance-main/MyPage.html">마이페이지</a></li>
                </ul>
            </div>
            <div>
                <address>
                    <p>E-Mail :<a href="gksrlvy7138@gmail.com"> gksrlvy7138@gmail.com</a></p>
                    <p>" 주소 : 서울시 서초구 서초대로74길 33 비트빌 3층"</p>
                    <p>Tel :<a href="tel:+820234863456"> 02 - 3486 - 3456</a></p>
                </address>
            </div>
        </div>
    </footer>
</body>
</html>